* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2962FF; 
    padding: 15px 5%;
    height: 70px;
}

.logo, .logo a {
    display: flex;
    align-items: center;
    height: 100%;
}


.logo img {
    height: 70px;          
    width: auto;           
    object-fit: contain;   
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFB300; 
}

body {
    background-color: #1A1A24;
    color: #F8F9FA;
}

.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/cenario.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 70px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about-content {
    max-width: 700px; 
    text-align: center;
}


.about-logo {
    width: 220px; 
    height: auto;
    margin-bottom: 30px;
    display: inline-block;
}

.about-text {
    color: #FFB300;
    font-size: 1.25rem;
    line-height: 1.6;
}
